{% extends "base.html" %}

{% block title %}<title>Lista de compañias</title>{% endblock %}

{% block content %}
  <div class="d-flex align-items-center justify-content-between">
    <h2>Compañias</h2>
    <a href="{% url 'company_create_view' %}" class="btn btn-success btn-sm" id="createCompany">Crear compañia</a>
  </div>

    {% if companies %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dominio</th>
            <th scope="col">Industria</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for company in companies %}
            <tr>
              <th scope="row">{{ company.pk }}</th>
              <td>{{ company.name }}</td>
              <td>{{ company.domain }}</td>
              <td>{{ company.industry }}</td>
              <td>
                <a href="{% url 'company_detail_view' pk=company.pk %}" class="btn btn-sm btn-primary">
                  Ver
                </a>
                <a href="{% url 'company_update_view' pk=company.pk %}" class="btn btn-sm btn-secondary">
                  Editar
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h5>No hay compañias aún</h5>
    {% endif %}


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-sm btn-secondary">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-secondary">anterior</a>
            {% endif %}

            <span class="text-muted">
                Pág {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-secondary">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-secondary">última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
