<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="{% url 'dashboard' %}" class="navbar-brand">DB Insights</a>

    {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'company_list_view' %}">Companies</a>
        </li>
      </ul>
    {% endif %}

    <div class="d-flex">
      {% if user.is_authenticated %}
        <p class="mx-3 my-auto">Hi {{ user.username|capfirst }}!</p>
        <a href="{% url 'logout' %}" class="btn btn-outline btn-primary mx-3">
          Log out
        </a>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline btn-primary mx-3">
          Log in
        </a>
      {% endif %}
    </div>
  </div>
</nav>
